<%= render "shared/header" %>
<div class="contents row">
  <div class="success">
    <h3>お気に入りの削除が完了しました。</h3>
  </div>
  <div class="post_list">
    <%= link_to "投稿一覧へ戻る", user_lists_path(@user.id), class: "user_lists" %>
  </div>
</div>
<%= render "shared/footer" %>