.top-page-header {
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding-top: 10vh;
}
.header-logo { 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.interest-logo {
  text-decoration: none;
  color: white;
  width: 10vw;
  margin-right: 10vw;
  font-size: 60px;
  line-height: 41px;
  float: left;
  text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(141, 129, 129, 0.5),
             4px 4px 5px rgba(142, 128, 128, 0.7),
             0px 0px 7px rgba(184, 173, 173, 0.4);
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 1vh 0;
}
.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}
.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-weight: bold;
}
.new_post {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-weight: bold;
}
.logout {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-weight: bold;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: white;
}

.sign-up {
  text-decoration: none;
  color: white;
}
