<%= render "shared/header" %>
<div class='main'>
  <div class="contents row">
    <div class="post_list">
      <%= link_to "投稿一覧", user_lists_path(@user.id), class: "user_lists" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>