<%= render "shared/header" %>
<div class="contents row">
  <div class='post_page'>
    <%= link_to '何かを生み出す', new_user_post_path(@user.id), class:"new_post" %>
  </div>
</div>
<%= render "shared/footer" %>