<div class='footer'>
  <div class='footer-contents'>
    <div class='interest-details'>
      <h2 class='footer-content-head'>Interestについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'Interest利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='interest-details'>
      <h2 class='footer-content-head'>ブログ、Favoritを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%#= link_to image_tag("furima-logo-white.png", class:"logo-white"), "#" %>
  <p>© Interest</p>
</div>