.post_body{
  display: flex;
  justify-content: space-around;
}

.post_form{
  background-color: white;
  padding: 20px;
  margin: 20px;
}
.container{
  color: white;
}
.categories_list{
  color: white;
}